     <nav class="navbar bg-light text-muted justify-content-between">
      <a class="navbar-brand" href="/articles/">PROJECT</a>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="navbar-brand justify-content-right" href="{% url 'accounts:signup' %}">회원가입</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand justify-content-right"  href="{% url 'accounts:login' %}">로그인</a>
        </li>
        <li class="nav-item">
            <a class="navbar-brand justify-content-right"  href="">로그아웃</a>
        </li>
      </ul>
    </nav>