<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% bootstrap_css %}
</head>
<body>
    {% include '_nav.html' %}
    <div class="container text-center">
    {% if user.username %}
        <p>{{ user.username }} 님 환영합니다.</p>
    {% endif %}
    {% block body %}
    {% endblock %}
    </div>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>